*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    overflow: hidden;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    align-items: center;
    background-color: blueviolet;
    color: white;
    width: 100%;    
}

#logo{
    font-size: 1.8rem;
}

.nav-links{
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a{
    color: gold; 
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

.username{
    padding: 0.8rem 1rem;
    border-radius: 5px;
}

.username a{
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: gold;
    color: rgb(25, 103, 212);
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.username a:hover{
    background-color: orangered;
}



.right-div img{
    max-width: 100%;
    height: auto;
    width: 420px;
}

#hero-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    padding: 4rem 10rem;
    gap: 2rem;
    height: calc(100vh - 80px);
}

.left-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.right-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-div h1{
    font-size: 2.7rem;
    color: #3d3c3c;
    line-height: 1.2;
}

.left-div h1 span{
    color: blueviolet;
}

.left-div p{
    font-size: 1rem;
    color: #888;
    text-align: justify;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
}

.left-div button{
    font-size: 1.2rem;
    padding: 1.5rem 2rem;
    background-color: blueviolet;
    border: none;
    border-radius: 15px;
    color: white;
    font-weight: bold;
    border: none;
}

.left-div button:hover{
    background-color: gold;
    color: blueviolet;
}

@media (max-width: 1023px) {
    #logo{
        font-size: 1.4rem;
    }

    .nav-links{
        display: flex;
        gap: 1.5rem;
    }

    .nav-links a{
        font-size: 1rem;
    }

    #hero-section{
        padding: 2rem 5rem;
        gap: 1.5rem;
    }

    .left-div h1{
        font-size: 2.2rem;
        line-height: 1.2;
    }

    .left-div p{
        font-size: 1rem;
    }

    .username a{
        font-size: 0.8rem;
    }
}

@media (max-width: 768px) {
    #hero-section{
        padding: 2rem;
        height: auto;
    }

    .navbar{
        flex-direction: column;
        gap: 1rem;
    }

    .left-div h1{
        font-size: 1.5rem;
    }

    .left-div p{
        font-size: 0.7rem;
    }

    #logo{
        font-size: 1.3rem;
    }

    .nav-links a{
        font-size: 0.8rem;
    }

    .username a{
        font-size: 0.9rem;
    }

    .left-div {
        align-items: center;
    }

    .left-div button{
        font-size: 0.8rem;
        padding: 1rem 1.2rem;

    }

    .nav-links a{
        font-size: 0.7rem;
    }
    
    .username a{
        display: flex;
        font-size: 0.7rem;
        padding: 0.3rem 0.7rem;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 480px){
    #hero-section{
        display: grid;
        grid-template-columns: 1fr;
        padding: 1.5rem;
        height: auto;
    }

    .nav-links a{
        font-size: 0.9rem;
    }

    .username a{
        font-size: 0.9rem;
    }

    .left-div p{
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    .right-div img{
        height: 17rem;
        width: auto;
    }

     .navbar {
        flex-direction: column;
        gap: 0.3rem; /* reduce gap */
        padding: 0.4rem 0.8rem; /* smaller padding */
    }
} 
